
<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Lüks Yaşam</h6>
                <h1 class="text-white mb-4">Otelimizi Daha Yakından Tanıyın</h1>
                <p class="text-white mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Odalarımız</a>
                <a href="" class="btn btn-light py-md-3 px-md-5">Rezervasyon Yap</a>
            </div>
        </div>
        <div class="col-md-6 ps-1">
            <iframe style="width: -webkit-fill-available;
    height: -webkit-fill-available;" src="https://www.youtube.com/embed/H1CIBqDeWQ0?si=qIqpS9_C4vQ0Az6B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
