@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Referans Görsel</th>
            <th>Referans Adı</th>
            <th>Referans Ünvan</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.TestimonialID</th>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td><a href="/Staff/DeleteStaff/@item.TestimonialID" class="btn btn-rounded btn-outline-danger">Sil</a></td>
                <td><a href="/Staff/UpdateStaff/@item.TestimonialID" class="btn btn-rounded btn-outline-success">Güncelle</a></td>
                <td><a href="#" class="btn btn-rounded btn-outline-primary">Detaylar</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Staff/AddStaff" class="btn btn-info">Yeni Personel</a>

