@model BookingApiViewModel
@{
    Layout = null;
    int count = 0;
}

@using (Html.BeginForm("Index", "BookingByCity", FormMethod.Post))
{
    <label>City</label>
    <input type="text" class="form-control" name="cityID" />
    <br />
    <button class="btn btn-primary">Find City hOTELS</button>
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Hotel Name</th>
                <th>Hotel Rating</th>
                <th>Details</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.results)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.name</td>
                    <td>@item.reviewScore</td>
                    <td> <a href="#" class="btn btn-outline-dark">Details</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>